@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Inter-Bold.woff2") format("woff2");
}

:root {
    /* --font-size: 1vw; */
    --font-size: 1em;
    --color-blue-1: #147FC9;
    /* active */
    --color-blue-2: #a7d8fc;
    /* border and hover */
    --color-blue-3: #E3F2FD;
    /* bg */
    --color-red: #9E2B25;
    --color-green: #51CB20;
    --color-yellow: #FFBE0B;
    --student-font-size: 0.8em;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

body {
    margin: 0;
    padding: 1em;
    height: calc(100% - 2em);
}

html,
body,
button {
    font-size: var(--font-size);
}

p {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    align-items: center;
}

.update {
    display: flex;
    align-items: center;
    gap: 1em;
}

button {
    display: inline-block;
    cursor: pointer;
    background-color: var(--color-blue-3);

    border: 2px solid var(--color-blue-2);
    border-radius: 8px;
    color: black;
    padding: .25em .5em .2em;
    text-align: center;
    text-decoration: none;
}

button:hover {
    outline: 4px solid var(--color-blue-2) !important;
    outline-offset: -4px !important;
}

button.btn {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    /* min-height: 32px; */
    height: 32px;
    min-width: fit-content;
}

button.btn svg {
    flex-grow: 1;
    padding: .25rem;
    transform: rotate(0deg);
    transition: transform 0.1s ease-in-out;
    min-width: 21px;
}

button.btn span {
    flex-shrink: 1;
    font-size: 0.9em;
    text-wrap: nowrap;
    padding: .25rem;
}

button.btn svg:hover {
    transform: scale(1.15);
}

button.btn svg:active{
    transform: scale(0.95);
}

button.update-button svg:hover {
    transform: rotate(90deg);
}

button.update-button svg:active {
    transform: rotate(180deg);
}

button.update-button.updating {
    pointer-events: none;
}

button.update-button.updating svg {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

button.update-button p {
    padding: 0;
    margin: 0;
    font-size: 8pt;
    padding-right: .25rem;
}

main {
    height: calc(100% - 3.5em);
}

.hidden {
    display: none;
}

.row {
    display: flex;
    height: 100%;
    border: 2px solid var(--color-blue-2);
    border-radius: 16px;
    overflow-y: hidden;
}

.col {
    flex-grow: 1;
    border-right: 2px solid var(--color-blue-2);
}

.col:last-child {
    border-right: none;
}

.col .col-header {
    padding: 1em;
    background-color: var(--color-blue-3);
    border-bottom: 2px solid var(--color-blue-2);
}

.col .col-header p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.col .col-body {
    height: calc(100% - 53px);
    padding: 1em;
    box-sizing: border-box;
    overflow-y: auto;
}

.col .info {
    display: grid;
    grid-template-columns: 1fr 12fr auto;
    gap: .5em;
    margin-bottom: .2em;
    padding-bottom: .2em;
    border-bottom: 2px solid var(--color-blue-2);
    align-items: center;
    font-size: var(--student-font-size);
}

.col .info .student-room {
    min-width: 2em;
}

.col .info .student-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 6em;
}

.col .info .student-status {
    user-select: none;
}

/* .col .info .student-status[status="online"] {
    animation: pulse-online 1s infinite;
}

.col .info .student-status[status="offline"] {
    animation: pulse-offline 2s infinite;
} */

/* @keyframes pulse-online {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.2);
    }
    100% {
        filter: brightness(1)
    }
}

@keyframes pulse-offline {
    0% {
        filter: brightness(1.2);
    }
    50% {
        filter: brightness(1);
    }
    100% {
        filter: brightness(1.2)
    }
} */

::-webkit-scrollbar {
    width: 24px;
    height: 24px;
}

::-webkit-scrollbar-track {
    background: var(--color-blue-3);
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    /* background: transparent; */
    border-radius: 16px;
}

::-webkit-scrollbar-thumb {
    border: 8px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: var(--color-blue-2);
    border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-blue-1);
}

/* Tooltip Styles Start */

[data-tooltip] {
    position: relative;
}

[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 125%;
    /* left: 50%;
    transform: translateX(-50%); */
    left: var(--tooltip-adjusted-left, 50%);
    right: var(--tooltip-adjusted-right, auto);
    transform: var(--tooltip-adjusted-transform, translateX(-50%));
    background-color: rgba(0, 0, 0, 0.77);
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 400;
    word-wrap: break-word;
    /* text-wrap: nowrap; */
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    text-align: center;
    z-index: 2000;
    backdrop-filter: blur(3px);
    width: 16vw;
}

[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
}

/* Tooltip Styles End */
